body {
    margin: 0;
}

.CardSideWrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;

    @media only screen and (min-width: 768px) {
        width: 100vw;
    }
}

.Card {
    transition: transform 1s ease-in-out;
    height: 100%;
    z-index: 5;
}

.Card.Flipped {
    transform: rotate3d(0, 1, 0, 90deg);
}

.CardButton {
    background: none;
    z-index: 10;
}

.CardButton.Hidden {
    width: 0;
}
