body {
    margin: 0;
}

.CardSideWrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.Card {
    transition: transform 0.1s ease-in-out;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.Card.Flipped {
    transform: rotate3d(0, 1, 0, 90deg);
}

.CardButton {
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: none;
    padding: 0;
}

.CardButton.Hidden {
    display: none;
}
