body {
    margin: 0;
}

.CardSideWrapper {
    display: flex;
    justify-content: center;
    position: absolute;

    @media only screen and (min-width: 768px) {
        height: 100vw;
    }
}

.Card {
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.Card.Flipped {
    transform: rotate3d(0, 1, 0, 90deg);
}

.CardButton {
    background: none;
    z-index: 10;
}

.CardButton.Hidden {
    display: none;
}
